<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
   <!--ng-hide 指令用于设置应用部分是否可见。ng-show 指令可用于设置应用中的一部分是否可见 ,用法与ng-hide相反。 -->
    <div ng-app="myApp" ng-controller="myCtrl">
        <button ng-click="toggle()">隐藏/显示</button>
        <p ng-hide="myVar">
            名:  <input type="text" ng-model="firstname">
            姓名: <input type="text" ng-model="lastname">
            full name:{{firstname+" "+lastname}}
        </p>
    </div>
   
    <script>
        var app = angular.module("myApp",[]);
        app.controller("myCtrl",function($scope){
            $scope.firstname = "John";
            $scope.lastname = "Doe";
            $scope.myVar = false;
            $scope.toggle = function(){
                $scope.myVar = !$scope.myVar;
            }
        })
    </script>
</body>
</html>